<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwQW15zJQuB6xDlga9STfJF0bJZfTayx0</string>
	<key>GCM_SENDER_ID</key>
	<string>543063414981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datainsights.ae.importmagic</string>
	<key>PROJECT_ID</key>
	<string>ondc-409004</string>
	<key>STORAGE_BUCKET</key>
	<string>ondc-409004.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543063414981:ios:edc6a725a37557f75878ac</string>
</dict>
</plist>